@charset "UTF-8";
.container-fix {
  width: 1051px;
  margin: auto;
}

/* commun à tous les icones */
.icon::before {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.align-horiz {
  display: flex;
}

.align-horiz-space-between {
  justify-content: space-between;
}

.align-horiz-space-around {
  justify-content: space-around;
}

.align-horiz-center {
  justify-content: center;
}

.align-vertical {
  display: flex;
  flex-direction: column;
}

.primary-color {
  color: #e79e01;
}

.secondary-color {
  color: #3d3d3d;
}

footer {
  background: #373737;
}
footer > div > ul {
  justify-content: space-evenly;
}
footer > div > ul p {
  color: #fff;
}
footer > div > ul li {
  width: 20%;
  text-align: center;
}
footer hr {
  height: 3px;
  background: #818181;
  border: none;
}
footer .social {
  margin-bottom: 15px;
}
footer .social li {
  margin-right: 72px;
}
footer .social li:last-of-type {
  margin-right: 0;
}
footer .social li a {
  color: #818181;
}

#footer-nav {
  width: 516px;
  margin: auto;
  background: #fff;
  padding: 10px 0;
  border-radius: 5px;
  position: relative;
  top: -18px;
}
#footer-nav ul {
  justify-content: space-evenly;
}
#footer-nav ul li::after {
  content: "";
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: grey;
  display: inline-block;
  position: relative;
  right: -17px;
  top: 3px;
}
#footer-nav ul li:last-child:after {
  display: none;
}

#copyright {
  color: #fff;
  font-size: 0.8rem;
  text-align: center;
  padding: 20px 0;
}