@charset "UTF-8";
.container-fix {
  width: 1051px;
  margin: auto;
}

/* commun à tous les icones */
.icon::before {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.align-horiz {
  display: flex;
}

header div:first-child, header div:last-child {
  justify-content: space-between;
}

.primary-color {
  color: #e79e01;
}

.secondary-color {
  color: #3d3d3d;
}

header > div:first-of-type {
  background: #efefef;
  align-items: center;
  padding: 34px 0 12px 0;
  margin-bottom: 21px;
}
header > img {
  display: block;
}