@use '_var' as v;
@use'_responsive' as r;

%background-header {
    background: url("../images/background.jpg");
    background-repeat: repeat;
    background-position: 50px 50px, 50% 0;
    background-attachment: fixed;
}

.container-fix {
    width: 1051px;
    margin: auto;

    @include r.mobile {
        width: 100%;
    }
}

/* commun à tous les icones */
.icon::before {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.align-horiz {
    display: flex;

    @include r.mobile {
        flex-direction: column;
    }
}

%align-horiz-space-between {
    justify-content: space-between;
}

%align-horiz-space-around {
    justify-content: space-around;
}

%align-horiz-center {
    justify-content: center;
}

%align-vertical {
    display: flex;
    flex-direction: column;
}

.primary-color {
    color: v.$primary-color;
}

.secondary-color {
    color: v.$secondary-color;
}