@use '_var' as v;

.container-fix {
    width: 1051px;
    margin: auto;
}

/* commun à tous les icones */
.icon::before {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.align-horiz {
    display: flex;   
}

.align-horiz-space-between {
    justify-content: space-between;
}

.align-horiz-space-around {
    justify-content: space-around;
}

.align-horiz-center {
    justify-content: center;
}

.align-vertical {
    display: flex;
    flex-direction: column;
}

.gradient {
    background: linear-gradient(to bottom, #1e5799 0%, #207cca 72%, #7db9e8 100%);
}

.primary-color {
    color:v.$primary-color;
}

.secondary-color {
    color:v.$secondary-color;
}