$primary-color: #e79e01;
$secondary-color: #3d3d3d;
$background-main: #f3f3f3;
$background-price: #292929;
$background-site: #1c1c1c;
$background-footer: #373737;   
$background-header: #efefef;
$primary-font: "primary-font, sans serif";
$primary-font-bold: "primary-font-bold, sans serif";
$footer-icones-color: #818181