@use '../_var' as v;
@use'../_class' as c;

footer {
    background: v.$background-footer;

    &>div>ul {
        justify-content: space-evenly;

        p {
            color: #fff;
        }

        li {
            width: 20%;
            text-align: center;
        }
    }

    hr {
        height: 3px;
        background: #818181;
        border: none;
    }

    .social {
        margin-bottom: 15px;

        ul{
            @extend .align-horiz;
            @extend %align-horiz-center;
        }
        
        li {
            margin-right: 72px;

            &:last-of-type {
                margin-right: 0;
            }

            a {
                color: v.$footer-icones-color;
            }
        }
    }
}

#footer-nav {
    width: 516px;
    margin: auto;
    background: #fff;
    padding: 10px 0;
    border-radius: 5px;
    position: relative;
    top: -18px;

    ul {
        justify-content: space-evenly;

        li::after {
            content: "";
            width: 13px;
            height: 13px;
            border-radius: 50%;
            background: grey;
            display: inline-block;
            position: relative;
            right: -17px;
            top: 3px;
        }

        li:last-child:after {
            display: none;
        }
    }
}

#copyright {
    color: #fff;
    font-size: .8rem;
    text-align: center;
    padding: 20px 0;
}
