@use '../_var' as v;
@use'../_class' as c;
@use'../_responsive' as r;


header {
    &>div:first-of-type {
        @extend %background-header;
        align-items: center;
        padding: 34px 0 12px 0;
        margin-bottom: 21px;

        @include r.mobile {
            text-align: center;
            padding: 34px 20px 12px;
        }
    }

    div {
        &:first-child {
            @extend %align-horiz-space-between;
        }

        &:last-child {
            @extend %align-horiz-space-between;
        }
    }

    &>img {
        display: block;
    }
}

#header-logo {
    &>div:first-of-type {
        @include r.mobile {
            align-items: initial;
        }
    }

    p {
        @include r.mobile {
            position: absolute;
            top: 150px;
        }
    }
}