@use '../_var' as v;
@use'../_class' as c;


header {
    &>div:first-of-type {
        background: v.$background-header;
        align-items: center;
        padding: 34px 0 12px 0;
        margin-bottom: 21px;
    }

    div {
        &:first-child {
            @extend %align-horiz-space-between;
        }

        &:last-child {
            @extend %align-horiz-space-between;
        }
    }

    &>img {
        display: block;
    }
}