@use '../_var' as v;
@use'../_class' as c;
@use'../_mixins' as m;

main {
    background: v.$background-main;
    padding: 45px 108px;
}

button{
@include m.price-button;
}

.products {
    h2 {
        font-size: 1.2rem;
        text-align: center;
        text-transform: uppercase;
        width: 366px;
        position: absolute;
        bottom: 58px;
    }

    .align-horiz {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    a {
        text-decoration: none;
    }

    li {
        position: relative;
        margin-bottom: 70px;
        width: 366px;
    }

    .reduction {
        position: absolute;
        right: -18px;
        top: 8px;
        padding: 15px;
        color: v.$primary-color;
        background: black;
        font-weight: bold;
        font-size: 1.5rem;
        border-radius: 15px;
        z-index: 2;
    }
}

 .price {
     margin-top: 19px;
     display: flex;
     justify-content: center;

     span {
         font-size: 1.5rem;
     }
 }
 
 .prix-barre {
    text-decoration: line-through;
    margin-right: 15px;
 }

 .prix-promo {
    color: v.$primary-color;
 }

