@use'../_responsive' as r;

#primary-nav {
    a {
        display: block;
        padding: 5px 45px 5px 0;
    }

    ul {
        @include r.mobile {
            flex-direction: row;
            justify-content: space-between;
        }
    }

    ul>li:last-of-type a {
        padding-right: 0;
    }
}